<h2>Sign In</h2>

<form action='<%= sign_in_url %>' method='post'>
  <%= authenticity_token %>

  <label for='session_email'>Email</label>
  <input id='session_email' name='session[email]' type='text'>

  <label for='session_password'>Password</label>
  <input id='session_password' name='session[password]' type='password'>
  
  <button>Sign In</button>
</form>
