<div id='splash' class='container'>
  <div class='row vertical-center-row'>
    <div id='splash-content' class='col-xs-4 col-xs-offset-4'>
      <h4 class='text-center'>Sign In</h4>

      <form role='form' action='<%= sign_in_url %>' method='post'>
        <%= authenticity_token %>

        <div class='form-group'>
          <label for='session_email'>Email</label>
          <input id='session_email' name='session[email]' type='text' class='form-control'
          placeholder='you@domain.com'>
        </div>

        <div class='form-group'>
          <label for='session_password'>Password</label>
          <input id='session_password' name='session[password]' type='password' class='form-control'>
        </div>

        <div class='form-group pull-right'>
          <button class='btn btn-default'>Sign In</button>
          <span>or <%= link_to 'Register', register_url %></span>
        </div>
      </form>
    </div>
  </div>
</div>
