<div id='splash' class='container-fluid'>
  <div class='row vertical-center-row'>
    <div id='splash-content' class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12'>
      <h4 class='text-center'>Register</h4>

      <form role='form' action='<%= register_url %>' method='post'>
        <%= authenticity_token %>

        <div class='form-group'>
          <div class='input-group'>
            <span class='input-group-addon'>@</span>
            <input id='profile_name' name='profile[name]' type='text'
              class='form-control' placeholder='Name'>
          </div>
        </div>

        <div class='form-group'>
          <input id='profile_display_name' name='profile[display_name]'
            type='text' class='form-control' placeholder='Display Name'>
        </div>

        <div class='form-group'>
          <input id='user_email' name='user[email]' type='text' 
            class='form-control' placeholder='Email'>
        </div>

        <div class='form-group'>
          <div class='input-group'>
            <input id='user_password' name='user[password]' type='password'
              class='form-control' placeholder='Password'>
            <span class='input-group-btn'>
              <button class='btn btn-default'>
                <span class='glyphicon glyphicon-circle-arrow-right'></span>
              </button>
            </span>
          </div>
        </div>

        <div class='pull-right'>
          <span>or <%= link_to 'Sign In', sign_in_url %></span>
        </div>
      </form>
    </div>
  </div>
</div>
<% if flash[:errors] %>
  <script>
    $('#splash-content').addClass('animated shake');
  </script>
<% end %>
