<div id='submission-wrapper'>
  <form role='form' action='#' enctype='multipart/form-data'>
    <input id='source' type='file' class='form-control input-file'>
  </form>

  <div id='foobar' hidden>
    <canvas id='editor' width='512' height='512'></canvas>

    <button id='upload'>Upload</button>
  </div>
</div>
