<div id='submission-wrapper'>
  <form role='form' action='#' enctype='multipart/form-data'>
    <input id='source' type='file' class='form-control input-file'>
  </form>

  <div id='editor-wrapper' hidden>
    <canvas id='editor' width='512' height='512'></canvas>

    <button id='upload' class='btn btn-default'>Upload</button>
    <button id='cancel' class='btn btn-default pull-right'>Cancel</button>
  </div>
</div>
