/*
 *= require_self
 *= require_tree .
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body, #splash {
  height: 100%;
}

#splash {
  width: 100%;
  background: url('golden-gate.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: table;
  vertical-align: middle;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

#splash-content {
  padding: 30px;

  border-radius: 10px;

  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.7);
}
