.fav-img {
  position: relative;
}

.heart-overlay {
  background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1024px-Heart_coraz%C3%B3n.svg.png') no-repeat center center;
}

.heart-break-overlay {
  background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Broken_heart.svg/1250px-Broken_heart.svg.png') no-repeat center center;
}

.heart-overlay, .heart-break-overlay {
  position: absolute;
  background-size: 100%;
  top: 30%; left: 30%;
  width: 40%;
  height: 40%;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
