.fav-img {
  position: relative;
}

.heart-overlay {
  background: url('https://s3-us-west-1.amazonaws.com/any-gram-prod/images/resources/heart.png') no-repeat center center;
}

.heart-break-overlay {
  background: url('https://s3-us-west-1.amazonaws.com/any-gram-prod/images/resources/broken-heart.png') no-repeat center center;
}

.heart-overlay, .heart-break-overlay {
  position: absolute;
  background-size: 100%;
  top: 25%; left: 25%;
  width: 50%;
  height: 50%;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}
