#splash {
  height: 100%;
  width: 100%;
  background: url('http://s3-us-west-1.amazonaws.com/any-gram-prod/images/resources/golden-gate.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: table;
  vertical-align: middle;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

#splash-content {
  padding: 30px;

  border-radius: 10px;

  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.7);
}

