#top-bar {
  width: 100%;
  height: 44px;

  background: linear-gradient(rgb(100, 135, 175), rgb(50, 95, 145));
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0; left: 0;

  color: white;

  z-index: 1000;
}

#top-bar-wrapper {
  width: 1024px;
  height: 100%;
  max-width: 100%;

  margin: 0 auto;

  position: relative;

  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#logo {
  margin: 0 auto;
  padding-top: 13px;

  font-size: 1.3em;
  text-align: center;
}

#home-wrapper, #nav-wrapper, #search-wrapper {
  height: 100%;

  position: absolute;
  top: 0;

  text-align: center;
}

#home-wrapper {
  width: 44px;
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#nav-wrapper {
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#search-wrapper {
  top: 5px; left: 54px;
}

#home-btn, #nav-btn {
  height: 100%;

  box-sizing: border-box;

  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  transition: background-color 200ms;
}

#home-btn:hover, #nav-btn:hover {
  cursor: pointer;

  background: rgba(255, 255, 255, 0.1);
}

#home-btn:active, #nav-btn:active {
  background: rgba(0, 0, 0, 0.1);
}

#home-btn {
  font-size: 1.5em;
}

#home-btn a {
  display: table;

  height: 100%;
  width: 100%;

  text-decoration: none;
  color: white;
}

#home-btn span {
  display: table-cell;
  vertical-align: middle;
}

#nav-btn {
  width: 100%;
  height: 100%;

  padding: 10px;
}

#search-form {
  width: 125px;
}

#search-bar, .input-group-addon {
  opacity: 0.5;
  transition: opacity 500ms;
}

#search-bar:focus, #search-bar:focus + .input-group-addon {
  opacity: 1;

  border-bottom-left-radius: 0;
}

#search-bar:focus {
  width: 250px;
}

#search-results {
  position: relative;
  top: 0px;

  width: 250px;

  text-align: left;
  color: gray;
}

#search-results > li {
  background: white;
  cursor: pointer;

  opacity: 0.9;
  transition: background 300ms, color 300ms;

  padding: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

#search-results > li:hover, .search-results-selected {
  color: black;
  background: #E0E0E0 !important;
  font-weight: bold;
}

#search-results > li:last-of-type {
  border-bottom: 1px solid silver;
  border-radius: 0 0 7px 7px;
}
