<div id='feed-items'></div>

<div class='text-center'>
  <h3>
    There are no more items in your feed.<br>
    <small>
      Click <a href='#/explore'>here</a> to explore more users!
    </small>
  </h3>
  <br>
</div>
