<header id="top-bar">
  <div id='top-bar-wrapper'>
    <h1 id='logo'>Any-Gram</h1>

    <div id='home-wrapper'>
      <div id='home-btn'>
        <a href='#'>
          <span class='glyphicon glyphicon-home'></span>
        </a>
      </div>
    </div>
    
    <div id='nav-wrapper'>
      <%= render 'layouts/nav' %>
    </div>

    <div id='submission-btn-wrapper'>
      <div id='submission-btn'>
        <a href='#/upload'>
          <span class='glyphicon glyphicon-plus'></span>
        </a>
      </div>
    </div>

    <div id='alerts-btn-wrapper'>
      <div id='alerts-btn' class='dropdown-toggle' data-toggle='dropdown'>
        <span class='glyphicon glyphicon-bell'></span>
      </div>
      <div id='alerts' class='dropdown-menu-right dropdown-menu' role='menu'>
     </div>
    </div>

    <div id='search-wrapper'>
      <form id='search-form' action='#'>
        <div class='input-group'>
          <input id='search-bar' type='search' class='form-control' 
            autocomplete='off' tabindex='1' placeholder='Search...' />
          <span class='input-group-addon'>
            <span class='glyphicon glyphicon-search'></span>
          </span>
        </div>
      </form>
      <ul id='search-results'>
      </ul>
    </div>
  </div>
</header>
